body{
    margin: 0;
    color: #212432;
    word-wrap: break-word;
    padding: 0;
    font-family:"Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

}

#navbar{
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
    overflow: visible;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}
.flecs{
    display: flex;
    width: max-content;
    font-size: 13px;
}
.nav_bar{
    width: 80%;
    margin: auto;
    justify-content: space-around;
    display: flex;
    background-color: white;
    color: black;  
    height: 100%;
}

.nav_list{
    align-items: center;
    justify-content: space-around;
}

#sign-up{
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #212432;
    font-weight: bold;
}
#menu-controls{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
}
#signin>span{
    display: block;
}
#brand a {
  background-image: url(https://cloudfront.fitnessblender.com/assets/img/logos/fb-logo.svg);
  width: 156px;
  height: 45px;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  text-indent: -9999px;

}
.hi-text{
    color: #4296CB;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 100px;
}
/* sign in submenu */
#signin{
    padding-top: 33px;
    padding-bottom: 33px;
}
.active:hover{
    z-index: 4;
}
.menu-signin{
    display: none;
    background-color: #212432;
    color: #fff;
    margin-top: 32px;
    width: 300px;
    height: 350px;
}
#signin:hover .menu-signin{
    display: block;
    position: absolute;
}
#signin:hover .menu-sign-block>ul{
    display: block;
}
.menu-sign-block>ul{
    text-align: left;
    padding: 40px;
    line-height: 20px;
}
.menu-sign-block>ul>li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-join, .btn-in{
    padding: 5px 15px;
    width: 100%;
}
.btn-join{
    background-color: #4296CB;
    color: #fff;
}    


